__pycache__/
*.pyc
*.pyo
build/
*.egg-info/
venv/
.venv/
env/
.env

# Logs
logs
*.log
npm-debug.log*

# Node
node_modules/
dist/
dist-ssr/
*.local

# Editor
.vscode/
.idea/
.DS_Store
*.suo
*.sw?

# Poetry
poetry.lock
